.container-search {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__block {
		padding: 10px 0px;
		width: 400px;
	}
	&__btn-sub {
		margin-top: 25px;
		align-self: center;
		&.no-active {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
