.footer {
	background-color: $defaultBackFon;
	padding: 20px 0px;
	box-shadow: 0 0 3px 0px #000;
	&__text {
		text-align: center;
		font-size: 17px;
		color: aliceblue;
		line-height: 120%;
		@media(max-width: 480px) {
			font-size: 15px;
		}
	}
}