.message-lite {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	&__icon {
		flex: 0 1 120px;
		width: 120px;
		margin-bottom: 10px;
	}
	&__text {
		color: $defaultBackFon;
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 600;
		line-height: 120%;
	}
	&__offer {
		max-width: 700px;
		line-height: 120%;
		font-size: 16px;
	}
}